S3method(plot,ldPower)
S3method(plot,ldBounds,plot.ldPower)
S3method(print,ldBounds)
S3method(print,ldPower)
S3method(summary,ldBounds)
S3method(summary,ldPower)
S3method(print,summary.ldBounds)
S3method(print,summary.ldPower)

export(ldBounds,ldPower,commonbounds,lastbound,condpower,plot.ldPower,summary.ldBounds,summary.ldPower)

import("graphics")
import("stats")
